/* snippet per i font */
@font-face {
    font-family: "inter-regular";
    src: url('../../assets/fonts/Inter-Regular.fnt') format("truetype");
}
@font-face {
    font-family: "inter-medium";
    src: url('../../assets/fonts/Inter-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "inter-bold";
    src: url('../../assets/fonts/Inter-Bold.ttf') format("truetype");
}


/* base della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #151A3B;
    color: #fff;
    font-family: inter-regular, sans-serif;
    scroll-behavior: smooth; /* fluidità nello scroll della pagina */

    /* testo non selezionabile ed evidenziabile */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* rimozione barra di scorrimento */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/* proprietà generica delle immagini */
img {
    /* immagini non selezionabili nè scaricabili */
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #ccc;
}
a:hover {
    color: white;
    transition: 0.2s;
}

.projectLink {
    text-decoration: none;
    color: white;
}

/* rimozione barra di scorrimento */
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* HEADER */
.hero {
    /* immagine di sfondo */
    background-image: url('../../assets/img/bgsTitle/bgTitle1.jpg'); /* deve essere .jpg */
    transition: opacity 1s ease, border-color 0.5s;
    opacity: 1;

    background-size: cover;
    background-position: center;
    height: 92vh;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

/* top bar (Astro Invasion + BIGA Games) */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter-inter-medium', sans-serif;
    font-size: 1.2rem;
}

.logo {
    font-family: inter-bold, sans-serif;
    font-size: 1.4rem;
}

.brand {
    font-family: inter-regular, sans-serif;
    font-size: 0.9rem;
    opacity: 0.9;
}

/* testo centrale descrittivo */
.main-text {
    font-family: inter-bold, sans-serif;
    font-size: 5rem;
    max-width: 800px;
    padding-bottom: 40px;
    line-height: 1.2;
}

/* MAIN */
.main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.text-dark {
    color: #ffffff; /* bianco o colore principale */
    font-weight: bold;
}

.text-light {
    color: #bbbbbb; /* grigio chiaro */
    font-weight: normal;
}

.titles {
    font-family: inter-bold, "sans-serif";
    align-content: flex-start;
    margin-top: 20px;
    text-align: left;
}

.subTitles {
    font-family: inter-medium, "sans-serif";
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px; /* spazio tra immagine e testo */
    margin-top: 10px;
    color: #ccc;
}

.subPjTitle {
    font-family: inter-medium, "sans-serif";
    display: flex;
    align-items: center;
    justify-content: left;

    gap: 10px; /* spazio tra immagine e testo */
    margin-top: -80px;
    color: #ccc;
}

.infoCommand {
    font-family: inter-bold, "sans-serif";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* spazio tra immagine e testo */
}

.gameInfo {
    font-family: inter-medium, "sans-serif";
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 20px; /* spazio tra immagine e testo */
}

.feature-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2)); /* opzionale */
}

.feature-text {
    color: #ccc;
    font-size: 3vh;
    margin: 10px;
    font-family: inter-medium, sans-serif;
    line-height: 1.5;
    display: inline; /* importante per evitare spazi tra gli span */
}

/* sezione dei project del gioco */
.project-section {
    /* position & alignment */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    overflow-x: auto;       /* abilita lo scroll orizzontale */
    scroll-behavior: smooth;
    cursor: grab;           /* effetto mano */
    padding: 20px;
}

/* design delle sezioni di project */
.project {
    /* bg */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* supporto per Safari */

    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #bbbbbb;

    /* dim */
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex: 0 0 auto; /* impedisce che la slide si auto ridimensioni */

    transition: transform 0.5s ease;
    position: relative;

    /* posizionamento testi */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribuisce sopra e sotto */
    align-items: center;            /* centra orizzontalmente */
    text-align: center;             /* centra il testo */
}

.project:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* effetto mano durante lo scroll della pagina */
.project-section:hover {
    cursor: grab;
}
.project-section:active {
    cursor: grabbing;
}

/* scrollbar nascosta */
.project-section::-webkit-scrollbar {
    display: none;
}

/* data lavoro */
.bottom {
    padding: 20px;
}

/* tecnologie utilizzate */
.tech {
    font-family: inter-medium, sans-serif;
    color: #ccc;
    margin-top: -50px;
}

/* sfondi dei project */
#hmw1 {
    background-image: url('../../assets/img/bgsProjects/standard_edition.png');
}
#hmw2 {
    background-image: url('../../assets/img/bgsProjects/premium_edition.png');
}
#hmw3 {
    background-image: url('../../assets/img/bgsProjects/deluxe_edition.png');
}

/* testo del project */
.project h1 {
    font-family: inter-bold, sans-serif;
    font-size: 6vh;
    padding: 20px 0;
    color: white;
}

/* pulsante project */
.project button {
    font-family: inter-medium, sans-serif;
    background: #151A3B;
    color: white;
    padding: 15px 30px;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #cccccc;
    border-radius: 30px;
    font-size: 2.5vh;

    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px #cccccc;
}

/* passaggio del mouse sul pulsante del project */
.project button:hover{
    background: #0C0E20;
}

/* responsive design per il mobile */
@media (max-width: 600px) {
    .project-section {
        padding: 40px 20px;
    }

    .project-section h1 {
        font-size: 28px;
    }

    .project-btn {
        font-size: 16px;
        padding: 12px 30px;
    }
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 10px;
    font-family: inter-medium, sans-serif;
    font-size: 15px;
    color: #ccc;
    margin-top: 20px;
    background-color: transparent; /* o un colore tipo #111 o #1a1a1a se vuoi scuro */
    backdrop-filter: blur(8px); /* effetto blur elegante se sopra uno sfondo */
    border-top: 2px solid rgba(255, 255, 255, 0.1); /* linea sottile sopra */
}

.footer p {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.05);
}


